.tabs{
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.tabs button{
    padding: 0.7rem;
    cursor: pointer;
    margin: 10px;
    background: none;
    border: none;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}
.tabs button:hover{
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 10px;
}
.tabs .active{
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out;    
}
.card{
    max-width: 20%;
    margin: 2px;
    margin-bottom: 18px;
    position: relative;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    max-width: 37%;
}
.image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.name{
    position: absolute;
    top: 65%;
    padding: 15px;
    font-size: 28px;
    text-shadow: 2px 2px 4px #000000;
}
.genre{
    position: absolute;
    top: 4%;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.555);
    text-shadow: 2px 2px 4px #000000;
}
.rating{
    position: absolute;
    padding: 20px;
    margin-right: 15px;
    top: 4%;
    right: 0;
    text-shadow: 2px 2px 4px #000000;
}
.platform{
    position: absolute;
    top: 75%;
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
}
.games{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    flex: 1 1 auto;
    
}
@media only screen and (max-width: 1204px){
    .card{
        max-width: 48%;
        margin: auto;
        margin-bottom: 10px;
    }
    .card:hover{
        max-width: 48%;
        
    }
}
@media only screen and (max-width: 960px){
    .card{
        max-width: 100%;
        margin: auto;
    }
    .card:hover{
        max-width: 100%;
    }
}

@media only screen and (max-width: 720px){
    .card{
        max-width: 100%;
        margin: 25px;
    }
    .card:hover{
        max-width: 100%;
    }
    .tabs button{
        padding: .5em;
        cursor: pointer;
        margin: 10px;
        background: none;
        border: none;
        font-family: 'Zilla Slab', serif;
        font-size: 20px;
    }
}
