.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
}
h1{
    padding: 2px;
}
@media only screen and (max-width: 720px){
    .title{
        font-size: 30px;
    }
}
